.flip-container {
	perspective: 1000;
	&:hover .flipper {
		transform: rotateX(180deg);
	}
}

.flipper {
	transition: 750ms;
	transform-style: preserve-3d;
	position: relative;
	height: 100%;
}

.front, .back {
	height: 10px;
	backface-visibility: hidden;
}

.front {
	z-index: 2;
	&::after {
		content: ' words';
	}
}

.back {
	transform: rotateX(180deg);
	&::after {
		content: ' min read';
	}
}